
@media (max-height:2400){
    @media (max-width:1080){
        
    
    *{
        margin: 0;
        padding: 0;
    }
}
}

.header_box{
    margin-top: 20px;
    height: 30px;
    width: 30px;
    background-color: rgba(6, 110, 55, 0.493);
    display: flex;
    margin-left: 10px;
    background-size: 80px 20px;
}

.header_txt{
    display: flex;
 margin-left: 50px;
 word-spacing: 60px;
 letter-spacing: 5px;
 font-size: 40px;
 margin-top: -32px;
 font-family: Arial, Helvetica, sans-serif;
}
.header_txt p{
    margin-top: 10px;
margin-left: 10px;
}
.header_txt b{

    color: rgba(255, 0, 0, 0.603);
}
.header_hei{
    display: flex;
    background-color: rgba(6, 110, 55, 0.493);
    margin-left: 500px;
    height: 180px;
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    padding: 30px 30px 90px 30px;
    border-radius: 0px 0px 160px 160px ;
}
.header_hei b{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    letter-spacing: 9px;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 40px;
}

    
.header_img{
    margin-top:-180px;
    background-image: url(background.jpg);
    height: 500px;
    width: 1420px;
    margin-left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_txt{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 460px;
    color: #008000;
    font-family: Arial, Helvetica, sans-serif;
}
.footer_txt1{
    display: flex;
    color: red;
    margin-left: 260px;
    font-size: 100px;
}
.footer_txt2{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 12px;
    margin-left: 10px;
    font-size: 15px;
    color: green;
}
.footer_txt2 p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 12   px;
    word-spacing: 5px;

}
.footer_right{
    background-color: #044e04c2;
    height: 150px;
    width: 300px;
    text-align: center;
    padding-left: 10px;
    color: white;
    margin-top: -140px;
    margin-left: 740px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
} 
.footer_right p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    word-spacing: 3px;
    font-size: 15px;
    
}
.footer_txt3{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    color: red;
    margin-left: 260px;
    font-size: 90px;
    word-spacing: 3px;
    margin-top: 20px;
}
.footer_txt3 p{
    color: black;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer_txt4{
    margin-top: 12px;
    margin-left: 10px;
    font-size: 15px;
    color: #008000;
    font-family: Arial, Helvetica, sans-serif;
}
.footer_txt4 p{
    font-size: 15px;
}

.footer_right1{

    font-family: Arial, Helvetica, sans-serif;
    margin-left: 800px;
    font-size: 17px;
    background-color: orangered;
    height: 150px;
    width: 300px;
    text-align: center;
    padding-left: 10px;
    color: white;
    margin-top: -130px;
    margin-left: 740px;
   
}
.footer_right1 p{
    font-size: 9px;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 3px;
}
.footer_right1 b{
    font-size: 15px;
    color: white;
    word-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer_txt5{
    display: flex;
    color: red;
    margin-left: 260px;
    font-size: 90px;
    margin-top: -0px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer_txt5 p{
    color: black;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer_txt6{
    margin-top: 12px;
    margin-left: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #008000;
    
}
.footer_txt6 p{
    font-size: 15px;
}
.footer_right2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(207, 236, 241);
    height: 60px;
    width: 230px;
    text-align: center;
    padding:40px;
    color: rgb(91, 231, 9);
    margin-top: -110px;
    margin-left: 740px
   
}
.footer_right2 p{
    font-size: 20px;
}
